<div class="container">
<div class="helper">
<div class="login-component-wrap">
    <div class="logo-info">
        <p class="logo-info-text">Racoon <br/><span>Bear</span></p>
        <p class="logo-info-tagline">Racoonize your business <br/> and do not bare your time <br/>  in vain</p>
    </div>
    <div class="forms-wrap">
        <div class="wrap-tabs">
            <ul id="Tabs" class="nav" role="tablist">
                <li role="presentation" class="nav-item">
                    <button id="tab1" [ngClass]="{'active': activeTab}" class="btn btn-link nav-link"
                    aria-controls="panel1" type="button" (click)="goTo('/sign-in')">Sign in</button>
                </li>
                <li role="presentation" class="nav-item">
                    <button id="tab2" [ngClass]="{'active': !activeTab}" class="btn btn-link nav-link"
                    aria-controls="panel2" type="button" (click)="goTo('/sign-up')">Sign up</button>
                </li>
            </ul>
            <section id="panel1" role="tabpanel" aria-labelledby="tab1" [attr.aria-hidden]="!activeTab">
                <div class="alert alert-info">
                    Email: test<br />
                    Password: test
                </div>
                <app-login-form></app-login-form>
            </section>
            <section id="panel2" role="tabpanel" aria-labelledby="tab2" [attr.aria-hidden]="activeTab">
                <app-register-form></app-register-form>
            </section>
        </div>
    </div>
</div>
</div>
</div>