.container {
    display: table;
    height: calc(100% ~'-' 60px);
    position: absolute;
    width: 100%;
}

.helper {
    display: table-cell;
    vertical-align: middle;
}

.logo-info {
    width: 440px;
    position: relative;
    background-image: url("../../assets/login-logo.svg");
}

.logo-info-text {
    position: absolute;
    top: 45px;
    left:35px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    color: #FFF;
    margin: 0;

    & span {
        color: #FEB940;
    }
}

.logo-info-tagline {
    position: absolute;
    font-weight: bold;
    font-size: 24px;
    color: #FFF;
    bottom: 50px;
    left: 35px;
    right: 60px;
    line-height: 132.4%;
}

.login-component-wrap {
    width: 880px;
    height: 600px;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    background: #FFF;
    border-radius: 16px;
}

.forms-wrap {
    flex-grow: 1;
    width: 320px;
}

.wrap-tabs {
    width: 320px;
    margin: 60px auto 0;
    position: relative;
}

.nav-link {
    width: 100%;

    &.active {
        outline: none;
        box-shadow: 0 -3px 0 #FEB940 inset;
        transition: none;

        &:hover {
            box-shadow: 0 -3px 0 #FEB940 inset;
            transition: none;
        }
    }

    &:focus {
        outline: none;
        box-shadow: 0 -3px 0 #FEB940 inset;
        transition: none;
    }

    &:hover {
        box-shadow: none;
    }
}

.form-group {
    position: relative;
}

.form-control {
    padding-left: 40px;
    outline: 0;
}

i {
    position: absolute;
    left: 13px;
    top: 15px;
    line-height: 0;

    &.mail {
        top: 18px;
    }
}


.form-control {
    width: 320px;
    background: #F8F8F8;
    line-height: 1.5;
    color: #495057;
    border: none;
    border-radius: 4px;
    min-height: 50px;
}

.form-group:not(:first-child) {
    margin-top: 40px;
}

.login-form {
    margin-top: 125px;
}

.register-form {
    margin-top: 35px;
}

.btn {
    border: 0;
    line-height: normal;

    &.btn-link.nav-link {
        background: transparent;
    }

    &.btn-primary {
        width: 320px;
    }
}

.error {
    position: absolute;
}

.nav {
    .nav-item {
        margin-right: 0px;
        width: 50%;
    }

    .nav-link.btn {
        margin: 0 0 4px;
        text-transform: uppercase;
        height: 40px;
        font-weight: bold;
    }
}

.alert {
    &.alert-danger {
        padding: 10px;
        margin-top: 20px;
    }

    &.alert-info {
        position: absolute;
        top: 45px;
        padding: 10px;
        width: 100%;
    }
}
