.main-wrap {
    display: block;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main-header {
    background:  #082D5A;
}

.header-nav {
    flex-grow: 1;
    justify-content: center;

    & .nav-link {
        padding: .75rem 0.75rem;

        &:first-of-type {
            &:before {
                display: none;
            }
        }
        &:last-of-type {
            &:after {
                display: none;
            }
        }
    }

    &-left {
        justify-content: left;
    }
}

.header-actions {
    flex: 0 0 auto;
}

.branding {
    min-width: auto;
}

.hide-header-nav {
    visibility: hidden;
}