<div class="main-wrap">
    <header class="header-5 main-header">
        <div class="branding">
            <a [routerLink]="['/home']">
                <img src="../../assets/logo.svg">
            </a>
        </div>
        <div class="header-nav" [ngClass]="{'header-nav-left': currentUser }">
            <div *ngIf="!currentUser">
                <a href="javascript://" class="nav-link nav-text">Why RacoonBear</a>
                <a href="javascript://" class="nav-link nav-text">Marketing Platform</a>
                <a href="javascript://" class="nav-link nav-text">Pricing</a>
                <a href="javascript://" class="nav-link nav-text">Resources</a>
            </div>
            <div *ngIf="currentUser" [ngClass]="{'hide-header-nav': !activeNavTab || activeNavTab === 'home' }">
                <a href="javascript://" (click)="navTabClick('social-networks')"
                    [ngClass]="{'active': activeNavTab === 'social-networks'}"
                    class="nav-link nav-text">
                    Social Networks
                </a>
                <a href="javascript://" (click)="navTabClick('marketplace-network')"
                    [ngClass]="{'active': activeNavTab === 'marketplace-network'}"
                    class="nav-link nav-text">
                    Marketplace Network
                </a>
                <a href="javascript://" (click)="navTabClick('web-analytics')"
                    [ngClass]="{'active': activeNavTab === 'web-analytics'}"
                    class="nav-link nav-text">
                    Web Analytics
                </a>
                <a href="javascript://" class="nav-link nav-text">Report</a>
                <a href="javascript://" class="nav-link nav-text">CRM</a>
                <a href="javascript://" class="nav-link nav-text">Landing Page</a>
                <a href="javascript://" (click)="navTabClick('email-client')"
                    [ngClass]="{'active': activeNavTab === 'email-client'}"
                    class="nav-link nav-text">
                    Email Client
                </a>
            </div>
        </div>
        <div class="header-actions">
            <a [routerLink]="['sign-in']" class="nav-link" *ngIf="!currentUser">
                Sign in
            </a>
            <a [routerLink]="['sign-up']" class="nav-link" *ngIf="!currentUser">
                Sign up
            </a>
            <a href="javascript://" (click)="logout()" class="nav-link" *ngIf="currentUser">
                Logout
            </a>
        </div>
    </header>

    <router-outlet></router-outlet>

</div>