.btn {
    height: 50px;
    border-radius: 4px;
    background: #FEB940;
    border: none;

    &:hover,
    &:focus {
        background: #FEB940;
    }

    &:active,
    &:focus {
        outline: none;
    }

    &.btn-primary {
        background: #FEB940;
    
        &:hover,
        &:focus {
            color: #FFF; 
            background: #FEB940;
        }
    
        &:active {
            box-shadow: none;
        }
    }
}