.social-networks-wrap {
    max-width: 1020px;
    margin: 30px 0 0 90px;
}

.nav-item {
    &-icon {
        width: 28px;
        height: 28px;
        display: block;
        float: left;
        margin-right: 5px;
    }
}

.btn {
    &.btn-primary {
        width: 230px;
        margin-top: 20px;
    }

    &.btn-link.nav-link {
        background: #fff;
        height: 60px;
        min-width: 230px;

        &.active {
            outline: none;
        }

        &:focus {
            outline: none;
        }
    }
}

.tabs-vertical {
    &>.nav {
        padding: 0;

        .nav-link {
            font-size: 15px;
            margin-bottom: 0px;
            vertical-align: middle;

            &.active {
                background: #fff;
                font-weight: bold;
                box-shadow: inset 3px 0 0 #FEB940;
                transition: none;
            }
        }

        .nav-link:not(.active):hover {
            background: #fff;
            box-shadow: none;
        }
    }
}

// .icon-color {
//     background-color: #717171; 
//     mask-repeat: no-repeat;
//     mask-size: contain;
//     mask-position: center;

//     -webkit-mask-repeat: no-repeat;
//     -webkit-mask-size: contain;
//     -webkit-mask-position: center;
//     mask-image: url('/assets/reports-icon.svg');
//     -webkit-mask-box-image: url('/assets/reports-icon.svg');
//     width: 18px;
//     height: 12px;
// }