<div class="social-networks-wrap">
<div class="tabs-vertical">
    <ul class="nav" role="tablist">
        <li role="presentation" class="nav-item">
            <button class="btn btn-link nav-link active"
                (click)="navTabClick('profiles')"
                [ngClass]="{'active': activeNavTab === 'profiles'}"
                type="button">
                <span class="nav-item-icon">
                    <img src="assets/profile-icon.svg"/>
                </span>
                Connect Profiles
            </button>
        </li>
        <li role="presentation" class="nav-item">
            <button class="btn btn-link nav-link"
                (click)="navTabClick('social')"
                [ngClass]="{'active': activeNavTab === 'social'}"
                type="button">
                <span class="nav-item-icon">
                    <img src="assets/reports-icon.svg"/>
                </span>
                Social Activities
            </button>
        </li>
        <li role="presentation" class="nav-item">
            <button class="btn btn-link nav-link"
                (click)="navTabClick('seo')"
                [ngClass]="{'active': activeNavTab === 'seo'}"
                type="button">
                <span class="nav-item-icon">
                    <img src="assets/seo-icon.svg"/>
                </span>
                SEO
            </button>
        </li>
        <li>
            <button class="btn btn-primary btn-block">make a post</button>
        </li>
    </ul>
    <section role="tabpanel" [attr.aria-hidden]="activeNavTab !== 'profiles'">
        Connect Profiles content
    </section>
    <section role="tabpanel" [attr.aria-hidden]="activeNavTab !== 'social'">
        Social Activities content
    </section>
    <section role="tabpanel" [attr.aria-hidden]="activeNavTab !== 'seo'">
        SEO content
    </section>
</div>
</div>