<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
    <div class="form-group">
        <i class="mail">
            <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 0H2.5C1.11929 0 0 1.11929 0 2.5V11.5096C0 12.8903 1.11929 14.0096 2.5 14.0096H17.5C18.8807 14.0096 20 12.8903 20 11.5096V2.5C20 1.11929 18.8807 0 17.5 0ZM18.1444 1.1451C17.9492 1.05207 17.7307 1 17.5 1H2.5C2.26933 1 2.05081 1.05207 1.85557 1.1451L10 7.85227L18.1444 1.1451ZM1.1431 12.1498C1.14773 12.1451 1.15247 12.1405 1.15732 12.1359L6.9772 6.65836L1.18215 1.88597C1.16951 1.87556 1.15752 1.86466 1.14617 1.85332C1.05247 2.04913 1 2.26844 1 2.5V11.5096C1 11.7386 1.05132 11.9557 1.1431 12.1498ZM1.84675 12.8603C2.04422 12.956 2.26584 13.0096 2.5 13.0096H17.5C17.7342 13.0096 17.9558 12.956 18.1533 12.8603L12.2446 7.29921L10.3179 8.88597C10.1332 9.03801 9.86678 9.03801 9.68215 8.88597L7.75538 7.29921L1.84675 12.8603ZM19 11.5096C19 11.7386 18.9487 11.9557 18.8569 12.1498C18.8523 12.1451 18.8475 12.1405 18.8427 12.1359L13.0228 6.65836L18.8179 1.88597C18.8305 1.87556 18.8425 1.86466 18.8538 1.85333C18.9475 2.04914 19 2.26844 19 2.5V11.5096Z" fill="#767676"/>
            </svg>       
        </i>
        <input placeholder="Name" type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submittedRegister && form.username.errors }" />
        <div *ngIf="submittedRegister && form.username.errors" class="invalid-feedback">
            <div class="error" *ngIf="form.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <i class="mail">
            <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 0H2.5C1.11929 0 0 1.11929 0 2.5V11.5096C0 12.8903 1.11929 14.0096 2.5 14.0096H17.5C18.8807 14.0096 20 12.8903 20 11.5096V2.5C20 1.11929 18.8807 0 17.5 0ZM18.1444 1.1451C17.9492 1.05207 17.7307 1 17.5 1H2.5C2.26933 1 2.05081 1.05207 1.85557 1.1451L10 7.85227L18.1444 1.1451ZM1.1431 12.1498C1.14773 12.1451 1.15247 12.1405 1.15732 12.1359L6.9772 6.65836L1.18215 1.88597C1.16951 1.87556 1.15752 1.86466 1.14617 1.85332C1.05247 2.04913 1 2.26844 1 2.5V11.5096C1 11.7386 1.05132 11.9557 1.1431 12.1498ZM1.84675 12.8603C2.04422 12.956 2.26584 13.0096 2.5 13.0096H17.5C17.7342 13.0096 17.9558 12.956 18.1533 12.8603L12.2446 7.29921L10.3179 8.88597C10.1332 9.03801 9.86678 9.03801 9.68215 8.88597L7.75538 7.29921L1.84675 12.8603ZM19 11.5096C19 11.7386 18.9487 11.9557 18.8569 12.1498C18.8523 12.1451 18.8475 12.1405 18.8427 12.1359L13.0228 6.65836L18.8179 1.88597C18.8305 1.87556 18.8425 1.86466 18.8538 1.85333C18.9475 2.04914 19 2.26844 19 2.5V11.5096Z" fill="#767676"/>
            </svg>       
        </i>
        <input placeholder="Email Address" type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submittedRegister && form.email.errors }" />
        <div *ngIf="submittedRegister && form.email.errors" class="invalid-feedback">
            <div  class="error" *ngIf="form.email.errors.required">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <i>
            <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8.5C14 7.29052 13.1411 6.28164 12 6.05001V5C12 2.23858 9.76142 0 7 0C4.23858 0 2 2.23858 2 5V6.05001C0.85888 6.28164 0 7.29052 0 8.5V15.5C0 16.8807 1.11929 18 2.5 18H11.5C12.8807 18 14 16.8807 14 15.5V8.5ZM11 6V5C11 2.79086 9.20914 1 7 1C4.79086 1 3 2.79086 3 5V6H11ZM11.6157 7.00439C11.5785 7.01318 11.5398 7.01783 11.5 7.01783C11.454 7.01783 11.4095 7.01163 11.3672 7H2.5C1.67157 7 1 7.67157 1 8.5V15.5C1 16.3284 1.67157 17 2.5 17H11.5C12.3284 17 13 16.3284 13 15.5V8.5C13 7.71049 12.39 7.06344 11.6157 7.00439ZM6 11V11.382C6 12.0396 6.15311 12.6882 6.44721 13.2764L6.72361 13.8292C6.77595 13.9339 6.88295 14 7 14C7.11705 14 7.22405 13.9339 7.27639 13.8292L7.55279 13.2764C7.84689 12.6882 8 12.0396 8 11.382V11C8 10.4477 7.55228 10 7 10C6.44772 10 6 10.4477 6 11ZM7 9C5.89543 9 5 9.89543 5 11V11.382C5 12.1948 5.18926 12.9965 5.55279 13.7236L5.82918 14.2764C6.05092 14.7199 6.50418 15 7 15C7.49582 15 7.94908 14.7199 8.17082 14.2764L8.44721 13.7236C8.81074 12.9965 9 12.1948 9 11.382V11C9 9.89543 8.10457 9 7 9Z" fill="#767676"/>
            </svg>     
        </i>
        <input placeholder="Password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submittedRegister && form.password.errors }" />
        <div *ngIf="submittedRegister && form.password.errors" class="invalid-feedback">
            <div  class="error" *ngIf="form.password.errors.required">Password is required</div>
        </div>				
    </div>
    <div class="form-group">
        <i>
            <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8.5C14 7.29052 13.1411 6.28164 12 6.05001V5C12 2.23858 9.76142 0 7 0C4.23858 0 2 2.23858 2 5V6.05001C0.85888 6.28164 0 7.29052 0 8.5V15.5C0 16.8807 1.11929 18 2.5 18H11.5C12.8807 18 14 16.8807 14 15.5V8.5ZM11 6V5C11 2.79086 9.20914 1 7 1C4.79086 1 3 2.79086 3 5V6H11ZM11.6157 7.00439C11.5785 7.01318 11.5398 7.01783 11.5 7.01783C11.454 7.01783 11.4095 7.01163 11.3672 7H2.5C1.67157 7 1 7.67157 1 8.5V15.5C1 16.3284 1.67157 17 2.5 17H11.5C12.3284 17 13 16.3284 13 15.5V8.5C13 7.71049 12.39 7.06344 11.6157 7.00439ZM6 11V11.382C6 12.0396 6.15311 12.6882 6.44721 13.2764L6.72361 13.8292C6.77595 13.9339 6.88295 14 7 14C7.11705 14 7.22405 13.9339 7.27639 13.8292L7.55279 13.2764C7.84689 12.6882 8 12.0396 8 11.382V11C8 10.4477 7.55228 10 7 10C6.44772 10 6 10.4477 6 11ZM7 9C5.89543 9 5 9.89543 5 11V11.382C5 12.1948 5.18926 12.9965 5.55279 13.7236L5.82918 14.2764C6.05092 14.7199 6.50418 15 7 15C7.49582 15 7.94908 14.7199 8.17082 14.2764L8.44721 13.7236C8.81074 12.9965 9 12.1948 9 11.382V11C9 9.89543 8.10457 9 7 9Z" fill="#767676"/>
            </svg>     
        </i>
        <input placeholder="Confirm password" type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submittedRegister && form.confirmPassword.errors }" />
        <div *ngIf="submittedRegister && form.confirmPassword.errors" class="invalid-feedback">
            <div  class="error" *ngIf="form.confirmPassword.errors.required">Confirm password is required</div>
        </div>				
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="register">
    </div>
</form>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>