<div class="home-page-wrap">
<h1 class="home-page-title">
    Welcome, John Dillinger
</h1>
<div class="clr-row">
    <div class="clr-col" *ngFor="let card of cardsList">
        <div class="card" (click)="cardClick(card.path)" [ngClass]="{'card-pointer': !card.isNotAble}">
            <div class="card-header" [ngClass]="{'not-available-yet': card.isNotAble}">
                <div class="icon-wrap">
                    <div [className]="'icon ' + card.name">
                        <img [src]="'assets/' + card.name + '-icon.svg'"/>
                    </div>
                    <div class="icon-text">{{ card.title }}</div>
                </div>
            </div>
            <div class="card-block">
                <div class="card-text">
                    {{ card.description }}
                </div>
            </div>
        </div>
    </div>
</div>
</div>