.clr-row {
    margin: 0 0 20px 0;
}

.card-header {
    border: none;
    padding-bottom: 0;
}

.card {
    box-shadow: none;
    min-height: 190px;
    border: none;
    border-radius: 8px;

    &-pointer {
        cursor: pointer;
    }
}

.home-page-wrap {
    max-width: 1020px;
    margin: 0 auto;
}

.home-page-title {
    font-weight: bold;
    line-height: 39px;
    color: #082D5A;
    margin-top: 70px;
}

.clr-col {
    flex-basis: auto;
    padding: 0 25px 0 0;
    flex-grow: 0;
    max-width: 340px;

    &:nth-child(3n) {
        padding-right: 0;
    }
}

.icon-wrap {
    display: flex;
    align-items: center;
    justify-content: left;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;

    &::after {
        content: '';
        width: 50px;
        height: 50px;
        border-radius: 25px;
        opacity: 0.1;
        position: absolute;
    }
}

.social-net {
    &::after {
        background: #408CFE;
    }
}

.marketplace-net {
    &::after {
        background: #4BE291;
    }
}

.crm,
.reports,
.landing {
    &::after {
        background: #BDBDBD;
        opacity: 0.2;
    }
}

.web-analytics {
    &::after {
        background: #FE9B40;
    }
}

.mail {
    &::after {
        background: #FE404B;
    }
}

.icon-text {
    padding-left: 20px;
    font-weight: bold;
}

.not-available-yet {
    opacity: 0.5;
}
@media (max-width: 1080px) {
    .clr-col {
        max-width: 100%;
    }

    &:nth-child(n) {
        padding-right: 0;
    }   
}